%h1 List all articles

- @article.each do |article|
  %p
    =article.title
  %p
    =article.text

  = link_to 'Show', article_path(article);

  = link_to 'Edit', edit_article_path(article);

  = link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' }

  %br
  %br

%br
%br

= link_to 'New article', new_article_path